CREATE DATABASE [CinemaRaketa]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CinemaRaketa', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.HOME_SERVER\MSSQL\DATA\CinemaRaketa.mdf' , SIZE = 5120KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CinemaRaketa_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.HOME_SERVER\MSSQL\DATA\CinemaRaketa_log.ldf' , SIZE = 2048KB , FILEGROWTH = 10%)
GO
USE [CinemaRaketa]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [CinemaRaketa] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
