.w100-head {
    width: 100%;
    min-height: 110px;
}

.container {
    width: 940px;
    margin: 0px auto;
}

.head {
    width: 100%;
    min-height: 110px;
    background-color: none;
    float: left;
}

.logo {
    width: 20%;
    float: left;
    margin: 9px 0px 0px 0px;
}

.top-menu {
    width: 40%;
    min-height: 60px;
    margin: 10px 2%;
    float: left;
    background: none;
}

.icons {
    width: 21%;
    min-height: 20px;
    float: right;
    margin: 1% 1%;
}

    .icons div.img {
        float: left;
        margin: 5px;
    }

.menu {
    min-height: 20px;
    width: 80%;
    float: left;
    margin: 20px 0% 0px 10%;
}

    .menu ul {
        padding: 0px;
        margin: 0px;
    }

        .menu ul li {
            float: left;
            font-size: 20px;
            margin: 0px 2% 0px 0px;
        }

            .menu ul li a {
                float: left;
                margin: 5px 0px 0px 0px;
                color: black;
                text-decoration: none;
                font-size: 14px;
                font-family: Myriad Pro Regular;
            }

                .menu ul li a:hover {
                    text-decoration: none;
                    color: red;
                }

.contact {
    width: 35%;
    min-height: 40px;
    margin: 10px 0px 0px 0px;
    float: left;
}

    .contact ul {
        padding: 0px;
        margin: 0px;
    }

        .contact ul li {
            color: #a5a5a5;
            font-size: 12px;
            font-family: Myriad Pro Regular;
            margin: 10px 0px;
        }

        .contact ul :nth-child(1) {
            margin: 0px 0px;
        }

        .contact ul li a {
            color: red;
        }

            .contact ul li a :visited {
                color: red;
            }

.phones {
    color: red;
    font-size: 18px;
    font-family: Myriad Pro Regular;
}

/**/

.tech {
    width: 100%;
    min-height: 120px;
    float: left;
}

.t-info {
    width: 12%;
    min-height: 100px;
    float: left;
    margin: 10px 0%;
}

.t-info-first {
    width: 12%;
    min-height: 100px;
    float: left;
    margin: 10px 0% 10px 2%;
}

.t-info-last {
    width: 12%;
    min-height: 100px;
    float: left;
    margin: 10px 2% 10px 0%;
}

.t-info-img {
    width: 100%;
    min-height: 80px;
}

.t-info-link {
    min-height: 20px;
    text-align: center;
}

    .t-info-link a {
        font-size: 12px;
        font-family: Myriad Pro Regular;
        text-decoration: none;
    }

    .t-info-link :visited {
        color: black;
    }

/**/

.blocks {
    width: 100%;
    min-height: 63px;
    float: left;
    margin: 10px 0%;
}

.block-rent a {
    width: 25%;
    min-height: 63px;
    float: left;
    background-image: url('../images/spec_37.png');
    background-position: center;
    background-repeat: no-repeat;
}

    .block-rent a:hover {
        background-image: url('../images/vibor_37.png');
        background-position: center;
        background-repeat: no-repeat;
    }

.block-service a {
    width: 25%;
    min-height: 63px;
    float: left;
    background-image: url('../images/spec_39.png');
    background-position: center;
    background-repeat: no-repeat;
}

    .block-service a:hover {
        background-image: url('../images/vibor_39.png');
        background-position: center;
        background-repeat: no-repeat;
    }

.block-spare-parts a {
    width: 25%;
    min-height: 63px;
    float: left;
    background-image: url('../images/spec_41.png');
    background-position: center;
    background-repeat: no-repeat;
}

    .block-spare-parts a:hover {
        background-image: url('../images/vibor_41.png');
        background-position: center;
        background-repeat: no-repeat;
    }

.block-financial-decisions a {
    width: 25%;
    min-height: 63px;
    float: left;
    background-image: url('../images/spec_43.png');
    background-position: center;
    background-repeat: no-repeat;
}

    .block-financial-decisions a:hover {
        background-image: url('../images/vibor_43.png');
        background-position: center;
        background-repeat: no-repeat;
    }

/**/

.slider {
    width: 100%;
    min-height: 200px;
    margin: 10px 0%;
    float: left;
}

.text {
    width: 200px;
    min-height: 30px;
    position: absolute;
    margin: 80px 0% 0px 5%;
}

    .text text {
        color: #ffffff;
        font-size: 18px;
        font-family: Myriad Pro Regular;
    }

        .text text ul {
            padding: 0px;
            margin: 0px;
            list-style: none;
        }

            .text text ul li {
                float: left;
                margin: 3px 0%;
                background-image: url('../images/spec_53.png');
                background-repeat: round;
            }

.nav {
    width: 50px;
    min-height: 10px;
    position: absolute;
    margin: 170px 0% 0px 450px;
}

    .nav div a {
        width: 10px;
        min-height: 10px;
        background: white;
        float: left;
        margin: 0px 1px;
    }

        .nav div a:hover {
            background: red;
        }

/**/

.body-text {
    width: 100%;
    min-height: 400px;
    margin: 10px 0%;
    float: left;
}

.news {
    width: 28%;
    margin: 0px 1%;
    float: left;
}

.new-mid {
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
    border-color: #a5a5a5;
    margin: 10px 0%;
}

.about {
    width: 70%;
    float: left;
}

.title-text {
    color: black;
    font-size: 14pt;
    font-family: Myriad Pro Regular;
}

.title-date-text {
    color: red;
    font-size: 12pt;
    font-family: Myriad Pro Regular;
}

.main-text {
    color: black;
    font-size: 12pt;
    font-family: Myriad Pro Regular;
}

    .main-text ul {
        color: red;
    }

.link-text a {
    color: black;
    font-size: 12pt;
    font-family: Myriad Pro Regular;
    text-decoration: underline;
}

    .link-text a:visited {
        color: black;
    }

    .link-text a:hover {
        color: red;
    }

/**/

.logos {
    width: 100%;
    min-height: 60px;
    float: left;
    margin: 10px 0%;
}

.logo-a a {
    width: 12%;
    min-height: 60px;
    margin: 0px 1%;
    float: left;
    background-image: url('../images/spec_76.png');
    background-position: center;
    background-repeat: no-repeat;
}

    .logo-a a:hover {
        background-image: url('../images/vibor_76.png');
        background-position: center;
        background-repeat: no-repeat;
    }

.logo-b a {
    width: 12%;
    min-height: 60px;
    margin: 0px 1%;
    float: left;
    background-image: url('../images/spec_64.png');
    background-position: center;
    background-repeat: no-repeat;
}

    .logo-b a:hover {
        background-image: url('../images/vibor_64.png');
        background-position: center;
        background-repeat: no-repeat;
    }

.logo-c a {
    width: 12%;
    min-height: 60px;
    margin: 0px 1%;
    float: left;
    background-image: url('../images/spec_66.png');
    background-position: center;
    background-repeat: no-repeat;
}

    .logo-c a:hover {
        background-image: url('../images/vibor_66.png');
        background-position: center;
        background-repeat: no-repeat;
    }

.logo-d a {
    width: 12%;
    min-height: 60px;
    margin: 0px 1%;
    float: left;
    background-image: url('../images/spec_73.png');
    background-position: center;
    background-repeat: no-repeat;
}

    .logo-d a:hover {
        background-image: url('../images/vibor_73.png');
        background-position: center;
        background-repeat: no-repeat;
    }

.logo-i a {
    width: 12%;
    min-height: 60px;
    margin: 0px 1%;
    float: left;
    background-image: url('../images/spec_61.png');
    background-position: center;
    background-repeat: no-repeat;
}

    .logo-i a:hover {
        background-image: url('../images/vibor_61.png');
        background-position: center;
        background-repeat: no-repeat;
    }

.logo-f a {
    width: 14%;
    min-height: 60px;
    margin: 0px 1%;
    float: left;
    background-image: url('../images/spec_71.png');
    background-position: center;
    background-repeat: no-repeat;
}

    .logo-f a:hover {
        background-image: url('../images/vibor_71.png');
        background-position: center;
        background-repeat: no-repeat;
    }

.logo-g a {
    width: 12%;
    min-height: 60px;
    margin: 0px 1%;
    float: left;
    background-image: url('../images/spec_68.png');
    background-position: center;
    background-repeat: no-repeat;
}

    .logo-g a:hover {
        background-image: url('../images/vibor_68.png');
        background-position: center;
        background-repeat: no-repeat;
    }

/**/

.info {
    width: 100%;
    min-height: 100px;
    float: left;
    margin: 10px 0%;
    background: yellow;
}

.info-first {
    width: 14%;
    float: left;
    margin: 0px 1% 0px 3%;
    color: #a5a5a5;
    font-size: 12px;
    font-family: Myriad Pro Regular;
}

.info-next {
    background: cyan;
    width: 14%;
    float: left;
    margin: 0px 1%;
    color: #a5a5a5;
    font-size: 12px;
    font-family: Myriad Pro Regular;
}

.info-border {
    border-left: 1px solid #a5a5a5;
    background: blue;
}

.info-main {
    float: left;
}

    .info-main ul {
        padding: 0px;
        margin: 0px;
    }

.info-mailn ul li {
}

.info-mailn a {
    text-decoration: underline;
}


.info-title {
    color: #a5a5a5;
    font-size: 12px;
    font-family: Myriad Pro Regular;
    background: blue;
    float: left;
}

    .info-title a {
        color: #a5a5a5;
        text-decoration: none;
    }

        .info-title a:hover {
            color: red;
        }

        .info-title a:visited {
            color: #a5a5a5;
        }

}
/**/

@media all and (min-width:640px) and (max-width:960px) {

    .container {
        width: 100%;
    }

    .logo, .top-menu, .contact {
        width: 96%;
        text-align: center;
        margin: 10px 2%;
    }

    .top-menu {
        display: none;
    }
}

@media all and (min-width:240px) and (max-width:639px) {

    .container {
        width: 100%;
    }

    .logo, .top-menu, .contact {
        width: 96%;
        text-align: center;
        margin: 10px 2%;
    }

    .top-menu {
        display: none;
    }
}
